@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');

.imgCharlotte{
    position: absolute;
    left: 1300px;
    top: 100px;
    border:4px solid rgba(3, 41, 53, 0.755);
}

.imgTeramisu{
    position: absolute;
    left: 1300px;
    top: 1100px;
    border:4px solid rgba(58, 58, 58, 0.762);
}

.imgBisquit{
    position: absolute;
    left: 1300px;
    top: 2170px;
    border:4px solid rgba(34, 74, 34, 0.831);
}

body{
    margin: 0;
    font-family: 'Jost', sans-serif;
}

*{
    box-sizing: border-box;
}

.headerH1{
    text-align: center;
    text-decoration:double underline;
    color: black;
    font-size:300%;
    font-weight: bold;
    
}

.flCharlotte:first-letter {
    padding-left: 50px;
    font-size:90%;
    color: rgba(3, 41, 53, 0.755);
    font-size: 140%;
    font-weight: bold;
}

.pWithColorCharlotte{
    padding-left: 50px;
    font-size:100%;
    color:rgba(3, 41, 53, 0.755);
    font-weight: bold; 
}

.pWithoutColorCharlotte{
    padding-left: 50px;
    font-size:90%;
    color:black; 
}

.pOverlineCharlotte{
    padding-left: 130px;
    font-size:90%;
    color:black;
    text-decoration: overline;
    font-style:italic;
    padding-top: 30px;
}
.h2Charlotte{
    padding-left: 50px;
    text-decoration:underline;
    color:rgba(3, 41, 53, 0.755);
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 20px;
}

.h3Charlotte{
    padding-left: 50px;
    color:rgba(3, 41, 53, 0.755);
    font-weight: bold;
}

.ulCharlotte{
    padding-left: 90px;
}

.ulWithColorCharlotte{
    color:rgba(3, 41, 53, 0.755);
    text-decoration:underline;
    text-decoration-style:dotted; 
}

.ulWithoutColorCharlotte{
    color:black; 
}

.olCharlotte{
    padding-left: 90px;
}
.olWithColorCharlotte{ 
    color:rgba(3, 41, 53, 0.755);
    
    text-decoration:underline;
    text-decoration-style:dotted;
}

.olWithoutColorCharlotte{
    color:black;
    
}

.charlotte{
    width: 1100px;
    height: 950px;
    margin: 90px;
    margin-left: 380px;
    background-color: rgba(45, 174, 216, 0.235); 
    border: 3px solid rgba(15, 50, 62, 0.406);
    border-left: 3px dashed rgba(15, 50, 62, 0.406);
    border-bottom: 3px dashed rgba(15, 50, 62, 0.406);
}

.tiramisu{
    width: 1100px;
    height: 900px;
    margin: 20px;
    margin-left: 380px;
    background-color: rgba(169, 169, 169, 0.18);
    border: 3px solid rgba(58, 58, 58, 0.762);
    border-left: 3px dashed rgba(58, 58, 58, 0.762);
    border-bottom: 3px dashed rgba(58, 58, 58, 0.762);
}

.flTiramisu:first-letter {
    padding-left: 50px;
    font-size:90%;
    color: rgba(58, 58, 58, 0.762);
    font-size: 140%;
    font-weight: bold;
}

.pWithColorTiramisu{
    padding-left: 50px;
    font-size:90%;
    color:rgba(58, 58, 58, 0.762); 
}

.pWithoutColorTiramisu{
    padding-left: 50px;
    font-size:90%;
    color:black; 
}

.pOverlineTiramisu{
    padding-left: 150px;
    font-size:90%;
    color:black;
    text-decoration: overline;
    font-style:italic;
    padding-top: 30px;
    text-align: center;
    margin-right: 10%;
}

.h2Tiramisu{
    padding-left: 50px;
    text-decoration:underline;
    color:rgba(58, 58, 58, 0.762);
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 10px;
}

.h3Tiramisu{
    padding-left: 50px;
    color:rgba(58, 58, 58, 0.762);
    font-weight: bold;
}

.ulTiramisu{
    padding-left: 90px;
}

.ulWithColorTiramisu{
    color:rgba(58, 58, 58, 0.762);
    text-decoration:underline;
    text-decoration-style:dashed; 
}

.ulWithoutColorTiramisu{
    color:black; 
}

.olTiramisu{
    padding-left: 90px;
}
.olWithColorTiramisu{ 
    color:rgba(58, 58, 58, 0.762);
    
    text-decoration:underline;
    text-decoration-style:dashed;
}

.olWithoutColorTiramisu{
    color:black;
    
}


.biscuit{
    width: 1100px;
    height: 850px;
    margin: 140px;
    margin-left: 380px;
    background-color: rgba(143, 188, 143, 0.618);
    border: 3px solid rgba(34, 74, 34, 0.831);
    border-left: 3px dashed rgba(34, 74, 34, 0.831);
    border-bottom: 3px dashed rgba(34, 74, 34, 0.831);
}


.flBiscuit:first-letter {
    padding-left: 50px;
    font-size:90%;
    color: rgba(58, 58, 58, 0.762);
    font-size: 140%;
    font-weight: bold;
}

.pWithColorBiscuit{
    padding-left: 50px;
    font-size:90%;
    color:rgba(58, 58, 58, 0.762); 
}

.pWithoutColorBiscuit{
    padding-left: 50px;
    font-size:90%;
    color:black; 
}

.pOverlineBiscuit{
    padding-left: 150px;
    font-size:90%;
    color:black;
    text-decoration: overline;
    font-style:italic;
    padding-top: 30px;
    text-align: center;
    margin-right: 10%;
    padding-top: 40px;
}
.h2Biscuit{
    padding-left: 50px;
    text-decoration:underline;
    color:rgba(58, 58, 58, 0.762);
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 15px;
}

.h3Biscuit{
    padding-left: 50px;
    color:rgba(58, 58, 58, 0.762);
    font-weight: bold;
}

.ulBiscuit{
    padding-left: 90px;
}

.ulWithColorBiscuit{
    color:rgba(58, 58, 58, 0.762);
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgba(58, 58, 58, 0.762);
}

.ulWithoutColorBiscuit{
    color:black; 
}

.olBiscuit{
    padding-left: 90px;
}
.olWithColorBiscuit{ 
    color:rgba(58, 58, 58, 0.762);
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgba(58, 58, 58, 0.762);
}

.olWithoutColorBiscuit{
    color:black;
    
}